* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #1e1e1e;
    color: #bebebe;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header {
    background-color: #121212;
    color: #bebebe;
    padding: 50px 20px;
    text-align: center;
}

header h1 {
    font-size: 2.8rem;
    margin-bottom: 10px;
    color: #1abc9c;
}

header p {
    font-size: 1.2rem;
    color: #b0b0b0;
}

.download-cv, .back-home, .learn-more {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #1abc9c;
    color: #bebebe;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-cv:hover, .back-home:hover, .learn-more:hover {
    background-color: #16a085;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #121212;
    padding: 10px 0;
    border-bottom: 1px solid #333;
    position: sticky;
    top: 0;
    z-index: 1000;
    color: #bebebe;
}

nav a {
    color: #bebebe;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background-color: #1abc9c;
    color: #121212;
    border-radius: 4px;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #252525;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.section, .project-detail {
    margin-bottom: 40px;
}

.section h2, .project-detail h2 {
    font-size: 2rem;
    color: #1abc9c;
    margin-bottom: 20px;
    border-bottom: 2px solid #1abc9c;
    padding-bottom: 10px;
}

.section p, .project-detail p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #bebebe;
}

.section ul, .project-detail ul {
    list-style-type: none;
    padding-left: 20px;
}

.section ul li, .project-detail ul li {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #bebebe;
}

.section a, .project-detail a {
    color: #bebebe;
    text-decoration: none;
    transition: color 0.3s ease;
}

.section a:hover, .project-detail a:hover {
    color: #bebebe;
}

.project {
    margin-bottom: 30px;
}

.project h3 {
    font-size: 1.4rem;
    color: #1abc9c;
    margin-bottom: 10px;
}

.project p {
    font-size: 1rem;
    color: #bebebe;
}

footer {
    background-color: #121212;
    color: #bebebe;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #333;
}

footer p {
    font-size: 0.9rem;
    margin: 0;
}